<!doctype html>
<html>
<title>Scan Report</title>
<h1>Welcome to Virus Scan Reporting Service!</h1>

<h2>Select a file to upload:</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
			<label for="email">Enter your email address:</label>
  			<input type="email" name="email">
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

</html>
